.film-card {
    width: 100%;
    min-width: 250px;
    height: 450px;
    cursor: pointer;
}
.film-card__img {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
}
.film-card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-size: 30px;
    text-align: center;
    color: white;
}

.film-card-description {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    min-height: 50px;
    padding: 10px 0;
    font: 1em sans-serif;
    justify-content: space-between;
    align-items: flex-start;
}
.film-card-description__title {
    width: 60%;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.film-card-description__year {
    font-size: 0.9em;
    display: inline-block;
    padding: 5px;
    height: auto;
    text-align: center;
    border: 1px solid grey;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.film-card-description__genre {
    text-transform: lowercase;
    font-size: 0.8em;
}
